footer.footer
	.footerContent
		.row
			.site.col-sm-3
				.logo
					a(href="") SiteName
				p SiteName 2010-2017
			ul.col-sm-3
				li Help &amp; Support
				li
					a(href="") How it Works
				li
					a(href="") Support Center
				li
					a(href="") Contact Us
			ul.col-sm-3
				li Company
				li
					a(href="") About Us
				li
					a(href="") News &amp; Blog
				li
					a(href="") Reviews
				li
					a(href="") Privacy
				li
					a(href="") Terms of Service
			ul.col-sm-3
				li Social
				li
					a(href="") Facebook
				li
					a(href="") Twitter
				li
					a(href="") YouTube
				li
					a(href="") Blogs