main.main
	.sectionWeProf
		section.section
			h2(id="weFind") We will Find
				br
				|Right professional for You
			.row
				article.article.col-sm-4
					object.articleIcon(type='image/svg+xml', data='assets/icons/alarm-clock.svg')
					h3 Save Time
					p Tell us your funeral requirments are
						br 
						|and we'll find you best quotes
				.clear
				article.article.col-sm-4
					object.articleIcon(type='image/svg+xml', data='assets/icons/save-money.svg')
					h3 Save Money
					p We make sure you find
						br 
						|the best quotes
				.clear
				article.article.col-sm-4
					object.articleIcon(type='image/svg+xml', data='assets/icons/id-card.svg')
					h3 Personalized Service
					p We tailor quotes to your needs -
						br 
						|just tell us what you want
				.clear
	.sectionCreate
		section.section
			h2 Create a Personalized Plan
				br 
				|to Share &amp; Ensure Your Plan is Perfect
			.row
				article.article.col-sm-4
					object.articleIcon(type='image/svg+xml', data='assets/icons/answer.svg')
					h3 Answer
						br 
						|the questions
					p Tell us your funeral requirments are
						br 
						|and we'll find you best quotes
				article.article.col-sm-4
					object.articleIcon(type='image/svg+xml', data='assets/icons/mail.svg')
					h3 Enter
						br
						|email address
					p We make sure you find
						br 
						|the best quotes
				article.article.col-sm-4
					object.articleIcon(type='image/svg+xml', data='assets/icons/message.svg')
					h3 Receive the email
						br 
						|with funeral plan and quotes
					p We tailor quotes to your needs -
						br 
						|just tell us what you want
			a(href="") Create your Free Plan
	.sectionPeople
		section.section
			h2 What People are Saying
			.row
				article.article.col-sm-4
					h3 Jude says
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quis praesentium atque temporibus accusantium, corporis, vel quisquam ex deleniti hic quas perferendis velit iste doloremque placeat illum est voluptatibus quae.
				article.article.col-sm-4
					h3 Barbara says
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					p Tell us your funeral requirments are lorem ipsum dolor de fenural us your funeral requirments are lorem ipsum dolor de fenural us your funeral requirments are lorem ipsum dolor de fenural us your 
				article.article.col-sm-4
					h3 Betty says
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					object.star(type='image/svg+xml', data='assets/icons/star.svg')
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quis praesentium atque temporibus accusantium, corporis, vel quisquam ex deleniti hic quas perferendis velit iste doloremque placeat illum est voluptatibus quae.
	.sectionFuture
		section.section
			h2 Future Planning Guidance
			.row
				article.article.col-sm-6.col-md-4
					+ image("plane.jpg", "plane")
					h3 How Mach Does the Average
						br 
						|Funeral Cost?
					p Lorem ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor.
					p.date February 23, 2017
				article.article.col-sm-6.col-md-4
					+ image("plane.jpg", "plane")
					h3 Humanist Funeral: A Unique Farewell
						br
						|and Celebration Of Life
					p Lorem ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor.
					p.date February 23, 2017
				article.article.col-sm-6.col-md-4
					+ image("plane.jpg", "plane")
					h3 Humanist Funeral: A Unique Farewell
						br 
						|and Celebration Of Life
					p Lorem ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor ipsum dolor de virtus falsento ipsum dolor.
					p.date February 23, 2017